/* Ketik code anda dibaris terbawah */

* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Calibri";

}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.main_des{
  font-family: "times new roman";
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;

}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://media.bitdegree.org/storage/media/images/2018/08/how-to-become-a-programmer.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
  margin-left: -25px;
  font-size: 50px;
    color: white;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 33%;
}

.lesson-icon {
  position: relative;
  
}

.lesson-icon p {
  position: absolute;
  font-size: 18px;
  width: 95%;
  top: 100%;
  color: black;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 48px;
  font-size: 15px;
  color: #b3aeb5;
}

.txt-heading {
  width: 65%;
  display: inline-block;
  margin-top: 35px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #273c75;
  cursor: pointer;
  box-shadow: 0 7px #273c75;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}


footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

/* Ketik code Anda dibaris bawah */
span.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.footer-content {
  width: 100%;
  border-spacing: 0;
  text-align: center;
}

.content-about h1 {
  background-color: #0066ff;
  color: #ffffff;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  display:inline-block;

}

li {
  list-style: none;
  float: left;
  padding: 10px;
}
/*css animasi*/
.polling_message {
  color: white;
  float: left;
  margin-right: 2%;
}

.view_port {
  background-color: #273c75;
  height: 40px;
  width: 100%;
  overflow: hidden;
}

.cylon_eye {
  background-color: whitesmoke;
  background-image: linear-gradient(to right,
      rgba(21, 55, 248, 0.9) 25%,
      rgba(27, 30, 230, 0.1) 50%,
      rgba(7, 10, 165, 0.9) 75%);
  color: white;
  height: 100%;
  width: 20%;

  -webkit-animation: 4s linear 0s infinite alternate move_eye;
          animation: 4s linear 0s infinite alternate move_eye;
}

@-webkit-keyframes move_eye { from { margin-left: -20%; } to { margin-left: 100%; }  }
        @keyframes move_eye { from { margin-left: -20%; } to { margin-left: 100%; }  }